@model Library.Models.Reserve


@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Reserve</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.book.Title)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.book.Title)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.book.Author)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.book.Author)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.date_from)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.date_from)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.date_to)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.date_to)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="id_rental" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>