@model IEnumerable<Library.Models.Reserve>

@inject Library.Data.LibraryContext _context

@{
    ViewData["Title"] = "View";
}

<h1>View</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.book.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.book.Author)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.book.BookEditionYear)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.date_from)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.date_to)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.book.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.book.Author)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.book.BookEditionYear)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.date_from)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.date_to)
                </td>
                <td>
                    <a asp-action="Delete" asp-route-id="@item.id_rental">Delete</a>
                </td>

            </tr>
        }
    </tbody>
</table>